.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1000; 
  padding: 0.75rem 2rem;
  box-sizing: border-box;
}


.navbar-logo {
  width: 7rem; 
}

@media (min-width: 640px) {
  .navbar-logo {
    width: 8rem;
  }
}

.navbar-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;           
  border: 1px solid #6b7280; 
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  color: #1f2937;  
  background-color: transparent;
  transition: all 0.3s ease;
}

.navbar-btn:hover {
  background-color: #f3f4f6;
}

.navbar-user {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background-color: #000;
  color: #fff;
  position: relative;
}